.contact-form-container{
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #356155, #333549);
    color: whitesmoke;
}
.Main-container{
    width: 100%;
    height: max-content;
    background: linear-gradient(135deg, #356155, #333549);
}
.addressIcon{
    padding: 10px;
    background-color: rgba(0, 255, 136, 0.559);
    color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}
.MailLink{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.MailLink:hover .addressIcon{
    background-color:#018786;
}
.Address-div{
    width: 45%;
    margin-top: 10vh;
}
.Iframe{
    margin-top: 25px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto  ;
}
.Address-div h2{
    border-left: 3px solid white;
    color: rgb(255, 0, 119);
    padding: 5px 20px;
}
.Address-div address{
    padding: 5px 20px;
    margin-top: 15px;
    font-size: 15px;
}
.Address-div address p{
    margin-top: 10px;
}
.content-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Contact-form{
    width: 45%;
    margin-top: 30px;
    border-radius: 15px;
    background: linear-gradient(180deg, #2E3B3A, #4A7B6C);
    box-shadow: 0px 8px 20px rgb(0, 0, 0);
    padding: 1.5rem;
    position: relative;
}
.contact-image{
    width: 30px;
    height: 30px;
    top: 2rem;
    left: 4rem;
    font-size: 1.5rem;
    position: absolute;
}
.Contact-form h2{
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid darkorchid;
    border-radius: 15px;
    margin-bottom: 10px;
}
.Names-div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.Fname-div,
.Lname-div{
    position: relative;
    width: 48%;
    display: flex;
    flex-direction: column;
}
.Email-div,
.Message-div,
.submit-div{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.common-contact-input{
    background: linear-gradient(135deg, #356155, #333549);
    color: whitesmoke;
    width: 100%;
    border: none;
    border-bottom: 1px solid darkorchid;
    margin-top: 15px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    padding: 7px 35px;
}
.common-contact-input:focus, .common-contact-input:hover{
    outline: none;
    border-bottom: 1px solid aqua;
}
.submit-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Send-btn{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #03DAC6 ;
    width: 300px;
    transition: all 0.3s ease-in-out;
    color: white;    
    box-shadow: 0px 8px 20px rgb(0, 0, 0);
    font-weight: 700;
}
.Send-btn:hover{
    background:#018786;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Send-btn:disabled{
    background-color: grey;
    color: whitesmoke;
    cursor:not-allowed;
}
.icon-common:hover .input-icons {
    color: aqua;
}
.icon-common:focus-within .input-icons {
    color: aqua;
}
.input-icons{
    position: absolute;
    top: 2.1rem;
    padding: 5px;
    left: 0.3rem;
    border-right: 1px solid darkorchid;
}
.fa-inbox{
    margin-top: 10px;
}

.MessageDiv{
    border-radius: 15px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 8px 20px rgb(0, 0, 0);
    position: relative;
    background: linear-gradient(135deg, #356155, #333549);
}

@media screen and (max-width:768px){
    .content-div{
        display: block;
        margin-top: 13vh;
    }
    .Address-div{
        width: 100%;
    }
    .Contact-form{
        margin-top: 2rem;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 354px){
    .contact-image{
        left: 2rem;
    }
    .socialMedia-div{
        width: 100%;
    }
}
@media screen and (max-width:380px){
    .MessageDiv{
        font-size: 12px;
    }
}