.ScrapImages{
    width: 100%;
    height: 100vh;
    filter: blur(2px);
}
.ContentDiv{
    background: linear-gradient(135deg, rgba(51, 53, 73, 0.8), rgba(53, 97, 85, 0.8));
    position: absolute;
    z-index: 1;
    height: fit-content;
    width: 700px;
    padding: 30px;
    margin-top: 35vh;
    margin-left: 10%;
    border-radius: 5px;
    transform: translate(-10%);
}
.ContentDiv h2{
    color: #03e2fb;
}
.ContentDiv h1{
    font-weight: 900;
    margin-top: 5px;
    color: whitesmoke;
}
.ContentDiv p{
    color: whitesmoke;
    margin-top: 10px;
    font-weight: 600;
    text-align: justify;
    line-height: 20px;
}
.COntactLink{
    margin-top: 15px;
    width: fit-content;
    border-radius: 5px;
    display: block;
    padding: 10px 15px;
    background-color: #BB86FC;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.COntactLink:hover{
    background-color: darkviolet;
}
.hidden, .sliderImg{
    display: none;
}
.arrows{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
#previous, 
#next{
    background: linear-gradient(135deg, rgba(51, 53, 73, 0.6), rgba(53, 97, 85, 0.6));
    padding: 5px;
    color: white;
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
}
#previous:hover, 
#next:hover{
    background: linear-gradient(135deg, rgb(51, 53, 73), rgb(53, 97, 85));
}
.Active{
    display: block;
    animation: fadeAnimation 0.5s;
}
@keyframes fadeAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transition: opacity linear;
    }
}
@media screen and (max-width:702px){
    .ContentDiv{
        width: 80%;
        left: 50%;
        transform: translateX(-63%);
    }
}
@media screen and (max-width:620px){
    .ContentDiv p{
        font-size: 14px;
    }
}
@media screen and (max-width:426px){
    .ContentDiv{
        width: 100%;
    }
}