html{
    scroll-behavior: smooth;
}
.NavContainer{
    position: fixed;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid aqua;
    transition: all 0.5s ease-in-out;
    z-index: 100;   
    background: linear-gradient(135deg, rgba(51, 53, 73, 0.9), rgba(53, 97, 85, 0.9));
}
.LogoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.CompanyLogo{
    width: 130px;
    height: 80px;
    border-radius: 50%;
}
.blackScreen{
    display: none;
}
.fa-times{
    display: none;
    transition: 0.5s ease-in-out;
    font-size: 40px;
}
#menu-icon{
    display: none;
}
.fa-bars-staggered{
    font-size: 40px;
    display: none;
    transition: 0.5s ease-in-out;
}
.Navigation{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavUl{
    width: 100%;
    height: 100%;
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.NavLi{
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.NavLi:hover{
    border-bottom: 3px solid aqua;    
}
.NavLink{
    padding: 10px 20px;
    font-size: 14px;
    padding: auto;
    color: whitesmoke;
    font-weight: 800;
    text-decoration: none;
}
.UpArrow{
    background: linear-gradient(135deg, #356155, #333549);
    box-shadow: 0px 8px 20px rgb(0, 0, 0);
    border: 2px solid aqua;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    left: 93%;
    top: 85%;
    position: fixed;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.UpArrow a{
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1024px){
    .LogoDiv{
        width: fit-content;
    }
    .Navigation{
        width: fit-content;
    }
}
@media screen and (max-width: 861px){
    .NavUl{
        justify-content: space-evenly;
        gap: 7px;
    }
}
@media screen and (max-width: 808px){
    .NavContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fa-bars-staggered{
        display: block;
    }
    #menu-icon{
        display: block;
    }
    .LogoDiv{
        position: relative;
    }
    .blackScreen{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        top: 14vh;
        display: flex;
        width: 100%;
        height: 85vh;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }
    .LogoDiv{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .Navigation{
        position: absolute;
        border-right: 2px solid aqua;
        background: linear-gradient(135deg,#333549 ,#356155 );
        left: 0;
        top: 15vh;
        border-bottom-right-radius: 50px;
        height: 85vh;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s ease-in-out;
        left: -100%;
    }
    .NavUl{
        width: 200px;
        display: block;
    }
    .NavLi{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:769px){
    .UpArrow{
        left: 80%;
    }
}
@media screen and (max-width: 426px){
    .blackScreen{
        top: 13vh;
        height: 88vh;
    }
}